VITE_SUPABASE_URL=https://xuapcgaywviawyhcfthm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1YXBjZ2F5d3ZpYXd5aGNmdGhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNjU3MzEsImV4cCI6MjA5Mjk0MTczMX0.i8fj39I81A8Ixt9HTNatG--Bi-VRvJQXrnYuuGvfSdY
